In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress

In [6]:
data_path = "Resources/data/data_csv.csv"
data = pd.read_csv(data_path)

In [7]:
data

     LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0         AUS  1971       15.992   0.727   35.720        NaN       462.11
1         AUS  1972       15.091   0.686   36.056        NaN       475.11
2         AUS  1973       15.117   0.681   39.871        NaN       533.47
3         AUS  1974       14.771   0.755   47.559        NaN       652.65
4         AUS  1975       11.849   0.682   47.561        NaN       660.76
...       ...   ...          ...     ...      ...        ...          ...
1031      LTU  2012       28.942   1.820  448.728        NaN      1340.70
1032      LTU  2013       28.173   1.728  461.178        NaN      1364.02
1033      LTU  2014       27.836   1.724  485.245        NaN      1422.92
1034      LTU  2015       26.784   1.745  504.422        NaN      1465.30
1035      RUS  2015       22.939   1.286  309.900        NaN     44655.62

[1036 rows x 7 columns]

PC_HEALTHXP	3-% of Health spending

PC_GDP-% of GDP

USD_CAP-in USD per capita (using economy-wide PPPs)	

TOTAL_SPEND	7-Total spending in millions

In [9]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   int64
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   63 non-null     object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 56.8+ KB