In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\prern\anaconda3\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
game_path= "Resources/games.grivg.csv"
character_path= "Resources/characters.grivg.csv"
sexualization_path= "Resources/sexualization.grivg.csv"

In [4]:
game=pd.read_csv(game_path)
character=pd.read_csv(character_path)
sexualization=pd.read_csv(sexualization_path)

In [5]:
game.head()

,Game_Id,Title,Release,Series,Genre,Sub-genre,Developer,Publisher,Country,Platform,...,Director,Total_team,female_team,Team_percentage,Metacritic,Destructoid,IGN,GameSpot,Avg_Reviews,Unnamed: 27
0,GTAV,Grand Theft Auto V,Nov-13,GTA,Action-adventure,Action-adventure,Rockstar North,Rockstar Games,GBR,Multi,...,M,7,0,0%,9.7,9.0,10.0,9.0,9.4,NaN
1,PSS,Pokémon Sword/Shield,Nov-19,Pokémon,RPG,RPG,Game Freak,Nintendo,JPN,Nintendo Switch,...,M,9,1,11%,8.0,7.0,9.3,9.0,8.3,NaN
2,CODMW,Call of Duty: Modern Warfare,Oct-19,Call of Duty,Action,FPS,Infinity Ward,Activision,USA,Multi,...,M,11,0,0%,8.0,8.0,8.0,7.0,7.8,NaN
3,RDR2,Red Dead Redemption 2,Dec-18,Red Dead,Action-adventure,Action-adventure,Rockstar Studios,Rockstar Games,USA,Multi,...,M,7,0,0%,9.7,9.5,10.0,9.0,9.6,NaN
4,SMO,Super Mario Odyssey,Oct-17,Super Mario,Action-adventure,Action-adventure,Nintendo EDP,Nintendo,JPN,Nintendo Switch,...,M,11,1,9%,9.7,9.5,10.0,10.0,9.8,NaN

In [6]:
character.head ()

,Name,Gender,Game,Age,Age_range,Playable,Sexualization,Id,Species,Side,Relevance,Romantic_Interest
0,Farah,Female,CODMW,27,Adult,1,0,CODMW_Farah,Human,P,PA,No
1,Protagonist,Custom,PSS,Teenager,Teenager,1,0,PSS_Protagonist,Human,P,PA,No
2,Magnolia,Female,PSS,Elderly,Elderly,0,0,PSS_Magnolia,Human,P,SC,No
3,Sonia,Female,PSS,26,Adult,0,0,PSS_Sonia,Human,P,SC,No
4,Marnie,Female,PSS,Teenager,Teenager,0,0,PSS_Marnie,Human,B,MC,No

In [7]:
sexualization.head ()

,Id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0

Prerna Part

In [8]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Game_Id               64 non-null     object
 1   Title                 64 non-null     object
 2   Release               64 non-null     object
 3   Series                27 non-null     object
 4   Genre                 64 non-null     object
 5   Sub-genre             64 non-null     object
 6   Developer             64 non-null     object
 7   Publisher             64 non-null     object
 8   Country               64 non-null     object
 9   Platform              64 non-null     object
 10  PEGI                  64 non-null     int64
 11  Customizable_main     64 non-null     object
 12  Protagonist           64 non-null     int64
 13  Protagonist_Non_Male  64 non-null     int64
 14  Relevant_males        64 non-null     int64
 15  Relevant_no_males     64 non-null     int64
 16  Percentage_non_male   64 non-null     object
 17  Criteria              64 non-null     object
 18  Director              64 non-null     object
 19  Total_team            64 non-null     int64
 20  female_team           64 non-null     int64
 21  Team_percentage       64 non-null     object
 22  Metacritic            64 non-null     float64
 23  Destructoid           57 non-null     float64
 24  IGN                   62 non-null     float64
 25  GameSpot              62 non-null     float64
 26  Avg_Reviews           64 non-null     float64
 27  Unnamed: 27           0 non-null      float64
dtypes: float64(6), int64(7), object(15)
memory usage: 14.1+ KB

In [9]:
# Datacleaning replacing null values with 0 for numeric colums 
game[['Destructoid','IGN','GameSpot']] = game[['Destructoid','IGN','GameSpot']].fillna(0)

In [10]:
## Datacleaning replacing null values with none for string colums 
game['Series'] = game['Series'].fillna('None')

In [11]:
#dropping unnamed colume with NAN values
game.drop(game.columns [[27]] , axis =1, inplace=True)

In [12]:
#changing data type of release columnn from string to date
game['Release'] =  pd.to_datetime(game['Release'], format='%b-%y')

In [13]:
game.style.format({"Release": lambda t: t.strftime("%b-%y")})

In [14]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Game_Id               64 non-null     object
 1   Title                 64 non-null     object
 2   Release               64 non-null     datetime64[ns]
 3   Series                64 non-null     object
 4   Genre                 64 non-null     object
 5   Sub-genre             64 non-null     object
 6   Developer             64 non-null     object
 7   Publisher             64 non-null     object
 8   Country               64 non-null     object
 9   Platform              64 non-null     object
 10  PEGI                  64 non-null     int64
 11  Customizable_main     64 non-null     object
 12  Protagonist           64 non-null     int64
 13  Protagonist_Non_Male  64 non-null     int64
 14  Relevant_males        64 non-null     int64
 15  Relevant_no_males     64 non-null     int64
 16  Percentage_non_male   64 non-null     object
 17  Criteria              64 non-null     object
 18  Director              64 non-null     object
 19  Total_team            64 non-null     int64
 20  female_team           64 non-null     int64
 21  Team_percentage       64 non-null     object
 22  Metacritic            64 non-null     float64
 23  Destructoid           64 non-null     float64
 24  IGN                   64 non-null     float64
 25  GameSpot              64 non-null     float64
 26  Avg_Reviews           64 non-null     float64
dtypes: datetime64[ns](1), float64(5), int64(7), object(14)
memory usage: 13.6+ KB

In [15]:
#renaming columns with charlottes's help to suit sequel database
fix_data_game=game.rename(columns= {'Game_Id': 'game_id', 'Title': 'title', 'Release': 'release', 'Series': 'series',
                                             'Genre': 'genre', 'Sub-genre': 'sub_genre', 'Developer': 'developer', 'Publisher': 'publisher',
                                             'Country': 'country', 'Platform': 'platform', 'PEGI': 'age_rating', 'Customizable_main': 'customizable_main',
                                             'Protagonist': 'protagonist', 'Protagonist_Non_Male': 'protagonist_non_male', 'Relevant_males': 'relevant_males', 
                                            'Relevant_no_males':'relevant_no_males',
                                             'Percentage_non_male': 'percentage_non_male', 'Criteria': 'criteria', 'Director': 'director', 'Total_team': 'total_team',
                                             'female_team': 'female_team','Team_percentage': 'female_teampercentage','Metacritic ':'metacritic', 'Destructoid': 'destructoid',
                                             'IGN': 'ign', 'GameSpot': 'gamespot' ,'Avg_Reviews': 'avg_reviews'})

In [16]:
fix_data_game.head()

,game_id,title,release,series,genre,sub_genre,developer,publisher,country,platform,...,criteria,director,total_team,female_team,female_teampercentage,metacritic,destructoid,ign,gamespot,avg_reviews
0,GTAV,Grand Theft Auto V,2013-11-01,GTA,Action-adventure,Action-adventure,Rockstar North,Rockstar Games,GBR,Multi,...,MS,M,7,0,0%,9.7,9.0,10.0,9.0,9.4
1,PSS,Pokémon Sword/Shield,2019-11-01,Pokémon,RPG,RPG,Game Freak,Nintendo,JPN,Nintendo Switch,...,MS,M,9,1,11%,8.0,7.0,9.3,9.0,8.3
2,CODMW,Call of Duty: Modern Warfare,2019-10-01,Call of Duty,Action,FPS,Infinity Ward,Activision,USA,Multi,...,MS,M,11,0,0%,8.0,8.0,8.0,7.0,7.8
3,RDR2,Red Dead Redemption 2,2018-12-01,Red Dead,Action-adventure,Action-adventure,Rockstar Studios,Rockstar Games,USA,Multi,...,SR,M,7,0,0%,9.7,9.5,10.0,9.0,9.6
4,SMO,Super Mario Odyssey,2017-10-01,Super Mario,Action-adventure,Action-adventure,Nintendo EDP,Nintendo,JPN,Nintendo Switch,...,SR,M,11,1,9%,9.7,9.5,10.0,10.0,9.8

In [17]:
#connection string
engine = sqlalchemy.create_engine('postgresql://postgres:root@localhost:5432/Gen_Rep_ Games')

In [18]:
engine.table_names()

C:\Users\prern\AppData\Local\Temp\ipykernel_8012\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [19]:
fix_data_game.to_sql(name='games', con=engine, if_exists='append', index=False)

64