In [36]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (3.5.3)
Requirement already satisfied: packaging>=20.0 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.17 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: cycler>=0.10 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'

In [37]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress

In [38]:
# add csv
data_path = "Resources/data/data_csv.csv"
data = pd.read_csv(data_path)

data_path2 = "Resources/data/latlongdata.csv"
coords = pd.read_csv(data_path2)

In [39]:
data

     LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0         AUS  1971       15.992   0.727   35.720        NaN       462.11
1         AUS  1972       15.091   0.686   36.056        NaN       475.11
2         AUS  1973       15.117   0.681   39.871        NaN       533.47
3         AUS  1974       14.771   0.755   47.559        NaN       652.65
4         AUS  1975       11.849   0.682   47.561        NaN       660.76
...       ...   ...          ...     ...      ...        ...          ...
1031      LTU  2012       28.942   1.820  448.728        NaN      1340.70
1032      LTU  2013       28.173   1.728  461.178        NaN      1364.02
1033      LTU  2014       27.836   1.724  485.245        NaN      1422.92
1034      LTU  2015       26.784   1.745  504.422        NaN      1465.30
1035      RUS  2015       22.939   1.286  309.900        NaN     44655.62

[1036 rows x 7 columns]

In [40]:
coords

   Country           Capital   Latitude  Longditude
0      AUS          Canberra -35.266667  149.133333
1      AUT            Vienna  48.200000   16.366667
2      BEL          Brussels  50.833333    4.333333
3      BGR             Sofia  42.683333   23.316667
4      BRA          Brasilia -15.783333  -47.916667
5      CAN            Ottawa  45.416667  -75.700000
6      CHL          Santiago -33.450000  -70.666667
7      CHE              Bern  46.916667    7.466667
8      COL            Bogota   4.600000  -74.083333
9      CRI          San Jose   9.933333  -84.083333
10     CYP           Nicosia  35.166667   33.366667
11     CZE            Prague  50.083333   14.466667
12     DEU            Berlin  52.516667   13.400000
13     DNK        Copenhagen  55.666667   12.583333
14     ESP            Madrid  40.400000   -3.683333
15     EST           Tallinn  59.433333   24.716667
16     FIN          Helsinki  60.166667   24.933333
17     FRA             Paris  48.866667    2.333333
18     GBR            London  51.500000   -0.083333
19     GRC            Athens  37.983333   23.733333
20     HUN          Budapest  47.500000   19.083333
21     HRV            Zagreb  45.800000   16.000000
22     IRL            Dublin  53.316667   -6.233333
23     ISL         Reykjavik  64.150000  -21.950000
24     ISR         Jerusalem  31.766667   35.233333
25     ITA              Rome  41.900000   12.483333
26     JPN             Tokyo  35.683333  139.750000
27     KOR             Seoul  37.550000  126.983333
28     LTU           Vilnius  54.683333   25.316667
29     LUX        Luxembourg  49.600000    6.116667
30     LVA              Riga  56.950000   24.100000
31     MEX       Mexico City  19.433333  -99.133333
32     MLT          Valletta  35.883333   14.500000
33     NLD         Amsterdam  52.350000    4.916667
34     NOR              Oslo  59.916667   10.750000
35     NZL        Wellington -41.300000  174.783333
36     POL            Warsaw  52.250000   21.000000
37     PRT            Lisbon  38.716667   -9.133333
38     ROU         Bucharest  44.433333   26.100000
39     SVK        Bratislava  48.150000   17.116667
40     SVN         Ljubljana  46.050000   14.516667
41     SWE         Stockholm  59.333333   18.050000
42     TUR            Ankara  39.933333   32.866667
43     USA  Washington, D.C.  38.883333  -77.000000
44     RUS            Moscow  55.751244   37.618423

In [41]:
data.info()
coords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   int64
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   63 non-null     object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 56.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     45 non-null     object
 1   Capital     45 non-null     object
 2   Latitude    45 non-null     float64
 3   Longditude  45 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.5+ KB

In [42]:
# show data df unique and nunique summary
data_columns = data.columns
for c in data_columns:
    print(c)
    print("============")
    print(data[c].nunique())
    print(data[c].unique())
    print("============")

LOCATION
============
36
['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'EST' 'SVN' 'ISR' 'LVA' 'LTU' 'RUS']
============
TIME
============
47
[1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984
 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 1970 2016]
============
PC_HEALTHXP
============
1009
[15.992 15.091 15.117 ... 27.836 26.784 22.939]
============
PC_GDP
============
756
[0.727 0.686 0.681 0.755 0.682 0.63  0.613 0.591 0.523 0.54  0.548 0.564
 0.58  0.569 0.599 0.582 0.595 0.623 0.677 0.739 0.778 0.819 0.859 0.882
 0.924 0.95  1.019 1.075 1.194 1.236 1.213 1.244 1.269 1.219 1.225 1.273
 1.334 1.324 1.315 1.336 1.32  1.306 0.784 0.78  0.801 0.84  0.852 0.854
 0.876 1.01  1.087 1.17  1.174 1.198 1.238 1.304 1.294 1.277 1.268 1.289
 1.311 1.271 1.251 1.234 1.245 1.28  1.078 1.109 1.126 1.2   1.183 1.208
 1.081 1.133 1.135 1.106 1.068 1.053 1.045 1.084 1.017 1.074 1.102 1.136
 1.147 1.103 1.157 1.237 1.347 1.313 1.351 1.327 1.332 1.557 1.536 1.472
 1.493 1.532 1.59  1.555 1.547 1.487 1.48  1.44  1.489 0.76  0.762 0.716
 0.679 0.611 0.609 0.589 0.583 0.635 0.704 0.72  0.763 0.842 0.884 0.932
 1.    1.19  1.233 1.206 1.229 1.354 1.374 1.465 1.55  1.614 1.637 1.68
 1.679 1.687 1.885 1.951 1.872 1.828 1.778 1.743 0.908 0.836 0.99  1.201
 1.564 1.629 1.56  1.539 1.412 1.403 1.414 1.474 1.558 1.657 1.642 1.643
 1.457 1.339 1.618 1.418 1.426 1.511 1.384 1.293 1.25  0.53  0.527 0.534
 0.539 0.528 0.546 0.563 0.555 0.6   0.566 0.647 0.646 0.731 0.725 0.718
 0.783 0.735 0.759 0.823 0.804 0.799 0.829 0.792 0.813 0.798 0.797 0.693
 0.698 0.689 0.775 0.691 0.785 0.717 0.663 0.658 0.637 0.662 0.694 0.668
 0.661 0.715 0.86  0.951 0.991 1.112 0.999 1.058 1.123 1.196 1.264 1.288
 1.149 1.179 1.247 1.156 1.173 1.184 1.169 1.185 1.266 1.104 1.267 1.375
 1.448 1.586 1.574 1.513 1.497 1.501 1.525 1.576 1.612 1.675 1.716 1.763
 1.785 1.788 1.74  1.714 1.722 1.796 1.752 1.724 1.686 1.639 1.666 1.631
 0.971 1.004 1.032 1.044 1.094 1.144 1.096 1.125 1.151 1.168 1.203 1.195
 1.181 1.388 1.239 1.253 1.318 1.301 1.367 1.386 1.451 1.51  1.454 1.581
 1.518 1.53  1.562 1.698 1.652 1.524 1.535 1.587 1.596 0.844 0.851 0.907
 1.012 1.154 1.257 1.335 1.3   1.298 1.097 1.171 1.439 1.753 1.827 2.01
 2.117 2.337 2.573 2.737 2.797 2.55  2.312 2.12  2.17  1.918 1.981 2.127
 2.248 1.802 1.816 1.747 2.028 2.063 2.247 2.267 2.511 2.507 2.294 2.277
 2.394 2.515 2.653 2.443 2.208 2.155 2.114 0.874 0.883 0.753 0.714 0.779
 0.757 0.811 0.855 0.973 1.009 1.105 1.182 1.162 1.187 0.966 1.033 1.003
 1.03  1.076 1.118 1.232 1.282 1.377 1.471 1.33  1.178 1.27  1.419 1.393
 1.309 1.256 1.177 0.957 0.903 0.917 0.897 0.878 0.747 0.733 0.705 0.744
 0.737 0.748 0.752 0.758 0.734 0.745 0.837 0.987 1.057 1.131 1.276 1.453
 1.591 1.432 1.512 1.394 1.007 1.551 1.503 1.517 1.529 1.442 1.395 1.342
 1.39  1.458 1.5   1.554 1.604 1.703 1.726 1.719 1.702 1.633 1.638 1.484
 1.52  1.527 1.613 1.594 1.163 1.214 1.305 1.317 1.23  1.323 1.405 1.322
 1.248 1.316 1.486 1.49  1.54  1.545 1.632 1.901 1.875 2.008 2.038 2.035
 2.037 0.551 0.459 0.428 0.366 0.316 0.487 0.502 0.463 0.514 0.676 0.743
 0.789 0.711 0.723 0.696 0.699 0.817 0.796 0.765 0.772 0.776 0.769 0.786
 0.835 0.885 0.978 1.211 1.397 1.443 1.556 1.546 1.662 1.705 1.689 1.669
 1.584 1.553 0.642 0.616 0.664 0.651 0.702 0.764 0.684 0.665 0.669 0.724
 0.68  0.543 0.552 0.513 0.52  0.931 0.968 2.134 2.108 1.984 1.974 1.904
 2.004 1.896 1.623 1.704 1.645 1.537 1.595 0.617 0.588 0.575 0.571 0.56
 0.598 0.614 0.636 0.67  0.71  0.707 0.69  0.822 0.872 0.85  0.858 0.848
 0.862 0.867 0.91  0.956 0.997 1.016 0.982 1.022 1.021 0.845 0.841 0.843
 0.645 0.657 0.73  0.871 0.9   1.028 1.029 1.027 1.002 0.976 0.865 0.342
 0.338 0.332 0.346 0.369 0.353 0.322 0.596 0.59  0.621 0.584 0.622 0.485
 0.498 0.542 0.573 0.593 0.692 0.746 0.808 0.81  0.787 0.906 0.911 0.888
 0.805 0.633 0.703 0.678 0.7   1.794 1.883 1.819 1.728 1.672 1.559 1.568
 1.619 1.505 1.38  1.341 0.846 1.025 0.965 0.969 1.018 1.365 1.462 1.344
 1.396 1.567 1.691 1.673 1.748 1.835 1.832 1.783 1.89  1.929 2.076 2.084
 2.041 2.007 1.991 1.892 1.751 1.389 1.391 1.928 1.843 1.851 2.072 2.196
 2.215 2.136 2.112 2.101 2.342 2.278 2.131 2.026 1.998 1.871 1.85  1.083
 1.153 0.993 1.061 0.983 0.98  1.039 1.132 1.433 1.482 1.498 1.541 1.648
 1.62  1.585 1.523 1.533 1.641 1.617 1.602 1.685 1.627 1.649 0.422 0.462
 0.561 0.556 0.557 0.586 0.587 0.554 0.565 0.626 0.761 0.943 0.953 1.085
 1.167 1.152 1.139 1.205 1.129 1.11  1.093 0.79  0.766 0.777 0.853 0.893
 0.935 0.96  0.964 1.041 1.05  1.1   1.089 1.02  1.588 1.6   1.61  1.69
 0.276 0.277 0.261 0.231 0.207 0.228 0.253 0.83  1.221 1.285 0.628 0.638
 0.603 0.695 0.627 0.649 0.685 0.742 0.794 0.771 0.749 0.806 0.896 0.913
 1.191 1.421 1.782 1.818 1.814 1.866 1.884 2.015 1.957 1.939 1.874 1.858
 2.068 1.222 1.204 1.307 1.296 1.164 1.766 1.683 1.697 1.65  1.699 1.677
 1.767 1.589 1.566 0.923 0.938 0.937 0.941 0.915 1.475 1.321 1.209 1.499
 1.383 1.473 1.542 1.867 1.937 1.809 1.961 1.821 1.692 1.82  1.745 1.286]
============
USD_CAP
============
1033
[ 35.72   36.056  39.871 ... 485.245 504.422 309.9  ]
============
FLAG_CODES
============
3
[nan 'B' 'D' 'P']
============
TOTAL_SPEND
============
1036
[  462.11   475.11   533.47 ...  1422.92  1465.3  44655.62]
============

In [43]:
# show coords df unique and nunique summary
coords_columns = coords.columns

for c in coords_columns:
    print(c)
    print("============")
    print(coords[c].nunique())
    print(coords[c].unique())
    print("============")

Country
============
45
['AUS' 'AUT' 'BEL' 'BGR' 'BRA' 'CAN' 'CHL' 'CHE' 'COL' 'CRI' 'CYP' 'CZE'
 'DEU' 'DNK' 'ESP' 'EST' 'FIN' 'FRA' 'GBR' 'GRC' 'HUN' 'HRV' 'IRL' 'ISL'
 'ISR' 'ITA' 'JPN' 'KOR' 'LTU' 'LUX' 'LVA' 'MEX' 'MLT' 'NLD' 'NOR' 'NZL'
 'POL' 'PRT' 'ROU' 'SVK' 'SVN' 'SWE' 'TUR' 'USA' 'RUS']
============
Capital
============
45
['Canberra' 'Vienna' 'Brussels' 'Sofia' 'Brasilia' 'Ottawa' 'Santiago'
 'Bern' 'Bogota' 'San Jose' 'Nicosia' 'Prague' 'Berlin' 'Copenhagen'
 'Madrid' 'Tallinn' 'Helsinki' 'Paris' 'London' 'Athens' 'Budapest'
 'Zagreb' 'Dublin' 'Reykjavik' 'Jerusalem' 'Rome' 'Tokyo' 'Seoul'
 'Vilnius' 'Luxembourg' 'Riga' 'Mexico City' 'Valletta' 'Amsterdam' 'Oslo'
 'Wellington' 'Warsaw' 'Lisbon' 'Bucharest' 'Bratislava' 'Ljubljana'
 'Stockholm' 'Ankara' 'Washington, D.C.' ' Moscow']
============
Latitude
============
45
[-35.26666667  48.2         50.83333333  42.68333333 -15.78333333
  45.41666667 -33.45        46.91666667   4.6          9.93333333
  35.16666667  50.08333333  52.51666667  55.66666667  40.4
  59.43333333  60.16666667  48.86666667  51.5         37.98333333
  47.5         45.8         53.31666667  64.15        31.76666667
  41.9         35.68333333  37.55        54.68333333  49.6
  56.95        19.43333333  35.88333333  52.35        59.91666667
 -41.3         52.25        38.71666667  44.43333333  48.15
  46.05        59.33333333  39.93333333  38.883333    55.751244  ]
============
Longditude
============
45
[ 1.49133333e+02  1.63666670e+01  4.33333300e+00  2.33166670e+01
 -4.79166670e+01 -7.57000000e+01 -7.06666670e+01  7.46666700e+00
 -7.40833330e+01 -8.40833330e+01  3.33666670e+01  1.44666670e+01
  1.34000000e+01  1.25833330e+01 -3.68333300e+00  2.47166670e+01
  2.49333330e+01  2.33333300e+00 -8.33330000e-02  2.37333330e+01
  1.90833330e+01  1.60000000e+01 -6.23333300e+00 -2.19500000e+01
  3.52333330e+01  1.24833330e+01  1.39750000e+02  1.26983333e+02
  2.53166670e+01  6.11666700e+00  2.41000000e+01 -9.91333330e+01
  1.45000000e+01  4.91666700e+00  1.07500000e+01  1.74783333e+02
  2.10000000e+01 -9.13333300e+00  2.61000000e+01  1.71166670e+01
  1.45166670e+01  1.80500000e+01  3.28666670e+01 -7.70000000e+01
  3.76184230e+01]
============

In [44]:
!pip install datetime

Requirement already satisfied: datetime in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (4.7)
Requirement already satisfied: zope.interface in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from datetime) (2022.1)
Requirement already satisfied: setuptools in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from zope.interface->datetime) (65.5.0)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'

In [45]:
import datetime as dt

In [46]:
data['TIME'] = pd.to_datetime(data['TIME'], format='%Y')

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   datetime64[ns]
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   63 non-null     object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 56.8+ KB

In [48]:
data.head()

  LOCATION       TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0      AUS 1971-01-01       15.992   0.727   35.720        NaN       462.11
1      AUS 1972-01-01       15.091   0.686   36.056        NaN       475.11
2      AUS 1973-01-01       15.117   0.681   39.871        NaN       533.47
3      AUS 1974-01-01       14.771   0.755   47.559        NaN       652.65
4      AUS 1975-01-01       11.849   0.682   47.561        NaN       660.76

In [49]:
data['TIME'] = data['TIME'].dt.strftime('%Y')

In [50]:
data.head()

  LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0      AUS  1971       15.992   0.727   35.720        NaN       462.11
1      AUS  1972       15.091   0.686   36.056        NaN       475.11
2      AUS  1973       15.117   0.681   39.871        NaN       533.47
3      AUS  1974       14.771   0.755   47.559        NaN       652.65
4      AUS  1975       11.849   0.682   47.561        NaN       660.76

In [51]:
# Rename columns
data = data.rename(columns = {
    'LOCATION': 'Country',
    'TIME': 'Years',
    'PC_HEALTHXP':'Percent_of_Health_Spending',
    'PC_GDP':'Percent_of_GDP',
    'USD_CAP':'USD_per_Capita',
    'TOTAL_SPEND': 'Total_Spending_in_Millions_USD'
    })

In [52]:
data = data.drop('FLAG_CODES', axis=1)

In [53]:
data.head()

,Country,Years,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD
0,AUS,1971,15.992,0.727,35.720,462.11
1,AUS,1972,15.091,0.686,36.056,475.11
2,AUS,1973,15.117,0.681,39.871,533.47
3,AUS,1974,14.771,0.755,47.559,652.65
4,AUS,1975,11.849,0.682,47.561,660.76

In [54]:
df = pd.merge(data, coords, how = 'inner', on = 'Country')
df.head()

,Country,Years,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD,Capital,Latitude,Longditude
0,AUS,1971,15.992,0.727,35.720,462.11,Canberra,-35.266667,149.133333
1,AUS,1972,15.091,0.686,36.056,475.11,Canberra,-35.266667,149.133333
2,AUS,1973,15.117,0.681,39.871,533.47,Canberra,-35.266667,149.133333
3,AUS,1974,14.771,0.755,47.559,652.65,Canberra,-35.266667,149.133333
4,AUS,1975,11.849,0.682,47.561,660.76,Canberra,-35.266667,149.133333

In [55]:
df = df[['Years', 'Country', 'Capital', 'Latitude','Longditude', 'Percent_of_Health_Spending', 'Percent_of_GDP', 'USD_per_Capita', 'Total_Spending_in_Millions_USD']]
df.head()

,Years,Country,Capital,Latitude,Longditude,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD
0,1971,AUS,Canberra,-35.266667,149.133333,15.992,0.727,35.720,462.11
1,1972,AUS,Canberra,-35.266667,149.133333,15.091,0.686,36.056,475.11
2,1973,AUS,Canberra,-35.266667,149.133333,15.117,0.681,39.871,533.47
3,1974,AUS,Canberra,-35.266667,149.133333,14.771,0.755,47.559,652.65
4,1975,AUS,Canberra,-35.266667,149.133333,11.849,0.682,47.561,660.76

In [65]:
df.set_index("Years")

,Country,Capital,Latitude,Longditude,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD
Years,,,,,,,,
1971,AUS,Canberra,-35.266667,149.133333,15.992,0.727,35.720,462.11
1972,AUS,Canberra,-35.266667,149.133333,15.091,0.686,36.056,475.11
1973,AUS,Canberra,-35.266667,149.133333,15.117,0.681,39.871,533.47
1974,AUS,Canberra,-35.266667,149.133333,14.771,0.755,47.559,652.65
1975,AUS,Canberra,-35.266667,149.133333,11.849,0.682,47.561,660.76
...,...,...,...,...,...,...,...,...
2012,LTU,Vilnius,54.683333,25.316667,28.942,1.820,448.728,1340.70
2013,LTU,Vilnius,54.683333,25.316667,28.173,1.728,461.178,1364.02
2014,LTU,Vilnius,54.683333,25.316667,27.836,1.724,485.245,1422.92
2015,LTU,Vilnius,54.683333,25.316667,26.784,1.745,504.422,1465.30
2015,RUS,Moscow,55.751244,37.618423,22.939,1.286,309.900,44655.62

## Cleaned Data uploaded onto PostgreSQL

In [56]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd
import os

In [57]:
! pip3 install psycopg2.binary

Requirement already satisfied: psycopg2.binary in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (2.9.5)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'

In [58]:
pip install config

Requirement already satisfied: config in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (0.5.1)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'
Note: you may need to restart the kernel to use updated packages.

In [59]:
from config import password
from config import username

In [60]:
protocol = "postgresql"
port = 5433
database_name = "Pharma_db"

In [61]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5433/Pharma_db')
connection = engine.connect()

In [62]:
inspector = inspect(engine)

In [68]:
inspector.get_table_names()

['pharmadata']

In [70]:
df.to_sql('pharmadata', connection, if_exists= 'replace')

36

In [73]:
# Query All Records in the the Database
results = pd.read_sql("SELECT * FROM pharmadata", connection)

In [74]:
# Preview the Data
results.head()

,index,Years,Country,Capital,Latitude,Longditude,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD
0,0,1971,AUS,Canberra,-35.266667,149.133333,15.992,0.727,35.720,462.11
1,1,1972,AUS,Canberra,-35.266667,149.133333,15.091,0.686,36.056,475.11
2,2,1973,AUS,Canberra,-35.266667,149.133333,15.117,0.681,39.871,533.47
3,3,1974,AUS,Canberra,-35.266667,149.133333,14.771,0.755,47.559,652.65
4,4,1975,AUS,Canberra,-35.266667,149.133333,11.849,0.682,47.561,660.76

## Webscraping for the Latest Pharma News

In [75]:
!pip3 install splinter

Requirement already satisfied: splinter in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (0.18.1)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'

In [76]:
!pip3 install webdriver_manager

Requirement already satisfied: webdriver_manager in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (3.8.5)
Requirement already satisfied: requests in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (2.28.1)
Requirement already satisfied: packaging in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (21.3)
Requirement already satisfied: tqdm in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (4.64.1)
Requirement already satisfied: python-dotenv in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (0.21.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from packaging->webdriver_manager) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (2022.9.24)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'

In [77]:
pip install selenium

Requirement already satisfied: selenium in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (4.6.1)
Requirement already satisfied: trio-websocket~=0.9 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.12)
Requirement already satisfied: trio~=0.17 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: sortedcontainers in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: async-generator>=1.9 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'
Note: you may need to restart the kernel to use updated packages.

In [78]:
!pip3 install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/Farzana/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.2.post1)
WARNING: Error parsing requirements for ipython: [Errno 2] No such file or directory: '/Users/Farzana/opt/anaconda3/lib/python3.9/site-packages/ipython-8.2.0.dist-info/METADATA'

In [79]:
# Import Dependencies
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup as bs
import os
from webdriver_manager.chrome import ChromeDriverManager
import json

In [85]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

### Step1: Visit [World Pharma news site](https://www.worldpharmanews.com) and Scrape the Website for latest news title and Preview

In [116]:
Pharma_news_url = "https://www.worldpharmanews.com"
browser.visit(Pharma_news_url)
html = browser.html
soup = bs(html, "html.parser")
latest_news = soup.find_all("h2", class_="article-title")[0]
latest_news_title = latest_news.get_text()
preview = soup.find_all("section", class_="article-intro clearfix")[0]
latest_news_preview = preview.text

In [117]:
print(latest_news_title)

					FDA approves first gene therapy for the treatment of high-risk, non-muscle-invasive bladder cancer

In [118]:
print(latest_news_preview)

FDAToday, the U.S. Food and Drug Administration approved Adstiladrin (nadofaragene firadenovec-vncg), a non-replicating (cannot multiply in human cells) adenoviral vector based gene therapy indicated for the treatment of adult patients with high-risk Bacillus Calmette-GuÃ©rin (BCG)-unresponsive non-muscle-invasive bladder cancer (NMIBC) with carcinoma in situ (CIS) with or without papillary tumors.

In [119]:
# FINAL DICTIONARY FOR MONGO
    
final_pharma_data = {
"latest_title": latest_news_title,
"latest_paragraph" : latest_news_preview,
}

In [120]:
browser.quit()